<div class="footer">
            <div class="footer-links">
              <a href="https://github.com/laurepeu" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://medium.com/@laurepeu" target="_blank"><i class="fab fa-medium"></i></a>
              <a href="https://www.linkedin.com/in/laurepeucelle/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="footer-copyright">
              Ce site est créé avec  <i class="fa fa-heart"></i> par Laure PEU
            </div>
</div>