<div class="footer">
            <div class="footer-links">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="footer-copyright">
              Ce site est créé avec  <i class="fa fa-heart"></i> par Laure PEU
            </div>
</div>